.ace_gutter {
  background: #000;
  color: #fff;
}

.ace_print-margin {
  width: 1px;
  background: #000;
}

.ace_editor {
  background-color: #000;
  color: #fff;
}

.ace_cursor {
  color: #fff;
}

.ace_marker-layer .ace_selection {
  background: #3366cc;
}

.ace_selection.ace_start {
  box-shadow: 0 0 0 0 #fff;
/*border-radius: 2px;*/
}

.ace_marker-layer .ace_step {
  background: #3366cc;
}

.ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #fff;
}

.ace_marker-layer .ace_active-line {
  background: #000;
}

.ace_gutter-active-line {
  background-color : #000;
}

.ace_marker-layer .ace_selected-word {
  border: 1px solid #3366cc;
}

.ace_invisible {
  color: rgba(147, 161, 161, 0.50);
}

.ace_keyword,
.ace_meta,
.ace_support.ace_class,
.ace_support.ace_type {
  color: #fff;
}

.ace_constant.ace_character,
.ace_constant.ace_other {
  color: #fff;
}

.ace_constant.ace_language {
  color: #fff;
}

.ace_constant.ace_numeric {
  color: #fff;
}

.ace_fold {
  background-color: #000;
  border-color: #fff;
}

.ace_entity.ace_name.ace_function,
.ace_entity.ace_name.ace_tag,
.ace_support.ace_function,
.ace_variable,
.ace_variable.ace_language {
  color: #fff;
}

.ace_storage {
  color: #fff;
}

.ace_string {
  color: #fff;
}

.ace_string.ace_regexp {
  color: #fff;
}

.ace_comment {
  color: #fff;
}
.ace_entity.ace_other.ace_attribute-name {
  color: #fff;
}

.ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHjy8NJ/AAjgA5fzQUmBAAAAAElFTkSuQmCC) right repeat-y;
}
.nocolor.ace_editor .ace_line span {
  color: #fff !important;
}
.ace_bracket {
  margin: 0 !important;
  border: 0 !important;
  background-color: #3366cc;
}
.ace_marker-layer .ace_foreign_line {
  position: absolute;
  z-index: -1;
  background-color: #000;
}
.ace_marker-layer .ace_active_debug_line {
  position: absolute;
  z-index: -1;
  background-color: #3366cc;
}
.ace_marker-layer .ace_find_line {
  position: absolute;
  z-index: -1;
  background-color: #3366cc;
}
.ace_console_error {
  background-color: #000;
}
.ace_keyword.ace_operator {
  color: #fff !important;
}
